@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* максимально похожий шрифт из "бесплатных" */

@import "tailwindcss";

* {
    font-family: "Jost", sans-serif;
}

@theme {
    --breakpoint-nav-xl: 912px;
    --breakpoint-nav-md: 577px;

    --breakpoint-hero-xl: 1444px;
    --breakpoint-hero-md: 480px;
    --breakpoint-hero-sm: 385px;

    --breakpoint-descr-xl: 860px;
    --breakpoint-descr-md: 500px;

    --breakpoint-slider-xl: 1050px;
    --breakpoint-slider-md: 860px;

    --breakpoint-specific-xl: 1185px;
    --breakpoint-specific-md: 625px;

    --breakpoint-motor-xl: 1303px;
    --breakpoint-motor-md: 702px;

    --breakpoint-sizes-md: 702px;
    --breakpoint-sizes-sm: 445px;


}