@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* максимально похожий шрифт из "бесплатных" */

@import "tailwindcss";

* {
    font-family: "Jost", sans-serif;
}

@theme {
    --breakpoint-nav-xl: 912px;
    --breakpoint-nav-md: 577px;

    --breakpoint-hero-xl: 1444px;
    --breakpoint-hero-md: 480px;
    --breakpoint-hero-sm: 385px;

    --breakpoint-descr-xl: 860px;
    --breakpoint-descr-md: 500px;
}